<div ng-controller="MainController">

    <!--  Stopwatch Body -->
    <div class="timer-container row">

        <!-- The display -->
        <div id="display" class="col-sm-12">
            <hr>
            <h1 class="text-center"> {{ currentFormatted }} </h1>
            <hr>
        </div>

        <!--lap-->
        <div class="bottom-controls">
            <div class="col-sm-6" ng-show="!timerOn">
                <button class="btn btn-lg btn-default" ng-click="reset()">Reset</button>
            </div>
            <div class="col-sm-6" ng-show="timerOn">
                <button class="btn btn-warning btn-lg" ng-click="lap()">Lap</button>
            </div>
            <!--start-->
            <div class="col-sm-6" ng-show="!timerOn">
                <button class="btn btn-success btn-lg" ng-click="start()">Start</button>
            </div>
            <!--stop-->
            <div class="col-sm-6" ng-show="timerOn">
                <button class="btn btn-danger btn-lg" ng-click="stop()">Stop</button>
            </div>
        </div>
        <!--reset-->

    </div>


    <!-- the controllers -->
    <div class="row lap-times">

        <!--compute (view) avg lap -->
        <dl class="dl-horizontal">
            <dt><a ng-click="getAverageLap()" ng-if="lapsCount > 0">compute avg lap</a></dt>
            <dd><h4 ng-if="showAverageLaps"> {{ averageLap }} </h4></dd>

            <dt><a class="text-center" ng-if="lapsCount > 0 && showLaps === false " ng-click="getLaps()"> view laps</a>
                <a ng-if="showLaps === true" ng-click="hideLaps()">hide laps</a>
            </dt>
            <dd></dd>

        </dl>


        <dl ng-if="showLaps" ng-repeat="lap in laps track by $index" class="dl-horizontal">
            <dt ng-if="$index > 0">{{ $index }}</dt>
            <dd ng-if="$index > 0">{{ lap.deltaMsString}}</dd>
        </dl>


    </div>


</div>


